{{#if count}}
    <h3>Your shopping cart contains {{count}} item(s)</h3>
    <p>
      <a href="/cart" class="btn btn-primary">View cart</a>
  </p>
{{else}}
    <h3>Your shopping cart is empty</h3>
{{/if}}
